.app-container {
  display: flex;
  justify-content: center; /* Центрируем по горизонтали */
  align-items: center; /* Центрируем по вертикали */
  height: 100vh; /* Высота 100% от окна браузера */
  background-color: #f0f0f0; /* Светлый фон для лучшей видимости */
}

/* Стиль для контейнера анкеты */
.questionnaire {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center; /* Центрируем текст */
  max-width: 500px; /* Максимальная ширина анкеты */
  width: 100%; /* Полная ширина контейнера */
}

/* Стиль кнопки */
.submit-btn {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #45a049;
}
